body{
	background-color: #37485B;
	/*font-family: "Space Grotesk", sans-serif;*/
}

footer{
	background-color: #2C2F33;
}

.white-text{
	color: white;
}

.gold-text{
	color: #DBA039 ;
}

.nav-link{
	text-decoration: none;
}

button{
	width: 209px;
	height: 40px;
}

header{
	width: 90%;
	background: #2C2F33; 
	border-radius: 65px; 
	position: absolute;
	top: 50px;
	right: 33px;
	padding: 0px 42px;
	z-index: 10;

}

.hero-img {

	background-image: url(images/Bridge.png);
	background-size: cover;
	background-position: center;
	height: 943px;

}

.img-wrapper{
	width: 100%;
	height: 617px;

/*	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 300px 300px 0 0;
	margin-bottom: 24px;*/
}

.img-calendar{
	width: 100%;
	object-fit: contain;

}


/*TEXT*/

